body {
    background: lightgrey;
}

p {
    margin: 5px !important
}
.login-container {
    width: 400px;
    text-align: center;
    margin-top: 20px;
}
.fa-small {
    font-size: 16px !important
}
.btn-float {
    float: left;
    margin-right: 10px;
}